/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #35393d;
    margin: 0 auto;
  }

  /* Card Styles */
  .card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(151, 124, 48, 0.1);
    background-color: #aecce4;
    margin: 0 auto;
  }
  
  .card-header {
    background-color: #22283f;
    color: #ebe8e7;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-title {
    margin-bottom: 0;
  }
  
  /* Wallet Information Styles */
  .card-body .card {
    border: none;
    box-shadow: none;
  }

  .card-body .holder{ 
    background-size: cover;
    background-image:url(/img/card.jpg);
    color: #d8e1e2;
    border: none;
    border-radius: 15px;
    text-align: center;
  }

  .card-body img {
    max-width: 80px;
    margin-top: 1rem;
  }
  
  /* Recent Transactions Styles */
  .list-group-item {
    background-color: #8f9fb6;
    padding: 0.75rem 1.25rem;
    font-size: 0.9rem;
  }

  /* Accesos Destacados Styles */
  
  